.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: 4px solid black;
  border-radius: 16px;
  margin: 0 auto;
  overflow: hidden;
}

.titleBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
}

.userPhoto {
  width: 250px;
  background-color: rgb(46, 42, 42);
  border-radius: 50%;
}

.userName {
  font-size: 48px;
  font-weight: 700;
}

.userInfo {
  font-size: 36px;
  font-weight: 500;
  color: gray;
}

.userStatsList {
  display: flex;
  width: 100%;
  border-top: 4px solid gray;
  background-color: lightgray;
}

.userStatsList > *:not(:last-child) {
  border-right: 4px solid gray;
}

.userStatsItem {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 16px;
  font-size: 24px;
}

.userStatsValue {
  font-weight: 700;
}
