.table {
  width: 600px;
  margin: 0 auto;
  font-size: 24px;
  border-collapse: collapse;
}

.head {
  color: white;
  background-color: rgb(46, 46, 46);
}

.headItem,
.bodyItem {
  border: 2px solid black;
  padding: 8px;
}

.transaction {
  text-transform: capitalize;
}

.transaction:nth-child(even) {
  background-color: rgb(200, 200, 200);
}
